.main-content {
  background-color: rgb(248, 246, 246);
  padding-bottom: 104px;
}

.club-logo {
  margin-top: 20px;
}

.header-hero--aboutus {
  background-image: url(images/aboutus/mobileheader.png),
    url(images/aboutus/mobileheaderopacity.png);
  background-blend-mode: multiply;
  height: 667px;
  font-family: Poppins;
  font-weight: 800;
  font-size: 55px;
}

.textcard__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: -150px;
}

.textcard {
  margin: 0px auto 20px;
  width: 90%;
  height: 316px;
  padding: 64px 40px 64px 40px;

  border-radius: 24px;
  background-color: white;
}

.textcard__title {
  font-family: Poppins;
  font-size: 45px;
  font-weight: 300;
  line-height: 56px;
  text-align: left;
  color: var(--primary);
  margin-bottom: 24px;
}

.textcard__text {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #475467;
}

.greentextcard {
  display: flex;
  flex-direction: column;
  width: 90%;
  /* height: 896px; */
  margin: 0 auto 104px;
}

.greentextcard__picture {
  border-radius: 25px 25px 0px 0px;
  width: 100%;
}

.greentextcard__body-wrapper {
  height: 600px;
  padding: 64px 32px 64px 32px;
  background-color: var(--primary);
  border-radius: 0px 0px 25px 25px;
  margin-top: -5px;
}

.greentextcard__title {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 300;
  line-height: 51px;
  text-align: left;
  color: white;
  margin-bottom: 32px;
}

.greentextcard__text {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: white;
}

.ourpartners__body-wrapper {
  width: 330px;
  margin: 0 auto;
}

.teamcard-wrapper {
  width: 90%;
  margin: 0 auto 104px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6fr;
  gap: 24px 0px;
}

.teamcards {
  margin: 0 auto;
}

.teamcard__headshot {
  background-color: #d1d4db;
}

#team__heading {
  font-family: Poppins;
  font-size: 65px;
  font-weight: 600;
  line-height: 72px;
  text-align: center;
  color: var(--universal);
  margin: 104px 0px 64px;
}

.teamcard__headshot {
  width: 396px;
  height: auto;
  border-radius: 24px 24px 0px 0px;
}

.teamcard__bodytext {
  width: 396px;
  height: 205px;
  padding: 48px 40px 48px 40px;
  gap: 16px;
  border-radius: 0px 0px 24px 24px;
  background-color: white;
  margin-top: -5px;
}

.teamcard__name {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  line-height: 56px;
  text-align: left;
  color: var(--primary);
}

.teamcard__bio {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #475467;
}

@media screen and (min-width: 800px) {
  .hero__title {
    font-size: 60px;
    margin-bottom: 32px;
  }

  .partners__wrapper {
    background-image: url(./images/subfooter.png);
    object-fit: cover;
    height: 518;
  }

  .partners__content {
    display: flex;
    width: 800px;
    height: 280px;
    margin: 0 auto;
  }

  .ourpartners__body-wrapper {
    width: 512px;
    height: 194px;
    gap: 40px;
  }

  .ourpartners__title {
    font-size: 50px;
    text-align: left;
    padding: 0px;
    margin: 0;
  }

  .ourpartners__text {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0.03em;
    text-align: left;
  }

  .partner-cards {
    display: flex;
    flex-direction: column;
  }

  .partner-card__text {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.01em;
    text-align: left;
  }

  .partner-card__logo--green {
    width: 156px;
    height: 83px;
    padding-top: 25px;
  }

  .partner-card__logo--blue {
    width: 120px;
    height: 67px;
    padding-top: 25px;
  }

  .partner-card--green,
  .partner-card--blue {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    margin-bottom: 16px;
    gap: 30px;
    height: 136px;
    width: 460px;
  }

  .footer-banner__wording {
    width: 744px;
    height: 90px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 75px;
    margin-bottom: 42px;
  }

  .textcard__wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 90%;
    margin: -150px auto 0px;
  }

  .textcard {
    width: 560px;
    height: 288px;
    padding: 64px 64px;
    border-radius: 24px;
  }

  .teamcard-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    width: 90%;
    margin: 0 auto 144px;
  }

  .teamcard__headshot,
  .teamcards,
  .teamcard__bodytext,
  .headshot {
    width: 370px;
  }

  .teamcard__bodytext {
    height: 205px;
    padding: 48px 40px 48px 40px;
    gap: 16px;
    border-radius: 0px 0px 24px 24px;
    background-color: white;
    margin-top: -5px;
  }

  .greentextcard {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-bottom: 154px;
  }

  .greentextcard__picture-wrapper,
  .greentextcard__body-wrapper {
    width: 50%;
    height: 510px;
  }

  .greentextcard__picture {
    border-radius: 0px 25px 25px 0px;
    width: 575px;
    height: 510px;
  }

  .greentextcard__body-wrapper {
    border-radius: 25px 0px 0px 25px;
    padding: 73px;
  }

  .partners__wrapper {
    background-image: url(./images/subfooter.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 768px;
  }

  .partners__content {
    width: 872px;
    height: 528px;
    top: 119px;
    left: 148px;
    gap: 72px;
    padding: 0px;

    display: flex;
    flex-direction: column;
  }

  .partner-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
  }

  .partner-card--green,
  .partner-card--blue {
    width: 424px;
    height: 315px;
    padding: 20px 50px 64px 50px;
    gap: 25px;
    border-radius: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .partner-card__logo--green {
    width: 176px;
    height: 183px;

    margin-bottom: 32px;
  }

  .partner-card__logo--blue {
    width: 178px;
    height: 167px;

    margin-bottom: 32px;
  }

  .partner-card__text {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.01em;
    text-align: left;
  }

  .ourpartners__body-wrapper {
    width: 558px;
  }

  .ourpartners__title {
    font-family: Poppins;
    font-size: 79px;
    font-weight: 600;
    line-height: 120px;
    text-align: left;
  }

  .ourpartners__text {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0.03em;
    text-align: left;
    width: 558px;
  }

  .footercontent {
    border: none;
    width: 180px;
    display: flex;
    justify-content: flex-start;
    padding: 0px;
  }

  .footer-items {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%;
  }

  .footercontent__title {
    font-family: "SohoGothicProBold";
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.011em;
    text-align: left;
    width: 180px;
  }

  .footercontent__list {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.011em;
    text-align: left;
    width: 180px;
  }

  .footercontent__button {
    width: 173px;
    height: 49px;
    padding: 16px 30px 16px 30px;
    border-radius: 103px;
    background-color: white;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 600;
    line-height: 16.5px;
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--universal);
    justify-content: flex-start;
    width: 180px;
  }

  .footer-contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 225px;
    justify-content: flex-start;
  }

  .footercontent__phone-email-body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .footercontent__phone-email-text {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.015em;
    text-align: center;
  }

  .footercontent__phone-email-icon {
    margin-right: 15px;
    align-items: center;
    padding-top: 10px;
  }

  .footer-banner__wording {
    width: 1144px;
    height: 140px;
    margin-bottom: 40px;
  }

  .footer-socialmedia {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 1144px;
    align-items: flex-end;
  }

  .footer-socialmedia__icons {
    width: 585px;
    margin-bottom: 0px;
  }

  .header-burger-menu__image {
    display: none;
  }

  .nav__list ul {
    width: 607px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    color: white;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 17.6px;
    letter-spacing: 0.05em;
    text-align: center;
    margin: 0px 175px;
  }

  .header__button {
    display: inline-block;
    width: 128px;
    height: 49px;
    padding: 16px 32px 16px 32px;
    border: none;
    border-radius: 103px;
    margin-bottom: 35px;
  }

  .banner {
    background-image: url(./images/bannerbg.png),
      url(./images/TNGS_SG-244\ 1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-blend-mode: multiply;
    width: 1144px;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 45px;
    padding: 48px;
  }

  .banner__button {
    background-color: white;
    width: 187px;
    height: 49px;
    top: 2647px;
    left: 1057px;
    padding: 16px 20px 16px 20px;
    gap: 10px;
    border-radius: 103px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 600;
    line-height: 16.5px;
    letter-spacing: 0.05em;
    text-align: center;
  }

  .banner__text {
    margin-bottom: 0px;
  }
}
